venv/
venv/**
.git/
.git/**
client/
client/**
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.env
.env.*
!.env.example
data/audio/*
data/transcripts/*
data/faiss_index/*
README.md
*.md
.gitignore
.dockerignore
.github/
